services:
  # 1. Coordinator
  etcd:
    image: public.ecr.aws/bitnami/etcd:3.5
    container_name: etcd-server
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd-server:2379
    networks:
      - app-network

  # 2. Database Node 1 (Primary)
  pg-node-1:
    image: public.ecr.aws/bitnami/postgresql-repmgr:16
    container_name: pg-node-1
    restart: always
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRESQL_DATABASE=${DB_NAME}
      - POSTGRESQL_USERNAME=${DB_USER}
      - POSTGRESQL_PASSWORD=${DB_PASSWORD}
      - REPMGR_DATABASE=repmgr
      - REPMGR_USERNAME=repmgr
      - REPMGR_PASSWORD=${REPLICATION_PASSWORD}
      - REPMGR_PRIMARY_HOST=pg-node-1
      - REPMGR_PARTNER_NODES=pg-node-1,pg-node-2
      - REPMGR_NODE_NAME=pg-node-1
      - REPMGR_NODE_NETWORK_NAME=pg-node-1
      - POSTGRESQL_ETCD_URL=etcd-server:2379
      - TZ=${TZ}
    networks:
      - app-network
    volumes:
      - ./pg_data_1:/bitnami/postgresql
    depends_on:
      - etcd
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"] 
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 120s

  # 3. Database Node 2 (Standby)
  pg-node-2:
    image: public.ecr.aws/bitnami/postgresql-repmgr:16
    container_name: pg-node-2
    restart: always
    environment:
      - POSTGRESQL_POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRESQL_DATABASE=${DB_NAME}
      - POSTGRESQL_USERNAME=${DB_USER}
      - POSTGRESQL_PASSWORD=${DB_PASSWORD}
      - REPMGR_DATABASE=repmgr
      - REPMGR_USERNAME=repmgr
      - REPMGR_PASSWORD=${REPLICATION_PASSWORD}
      - REPMGR_PRIMARY_HOST=pg-node-1
      - REPMGR_PARTNER_NODES=pg-node-1,pg-node-2
      - REPMGR_NODE_NAME=pg-node-2
      - REPMGR_NODE_NETWORK_NAME=pg-node-2
      - POSTGRESQL_ETCD_URL=etcd-server:2379
      - TZ=${TZ}
    networks:
      - app-network
    volumes:
      - ./pg_data_2:/bitnami/postgresql
    depends_on:
      - etcd

  # 4. Load Balancer
  pg-lb:
    image: public.ecr.aws/bitnami/haproxy:2
    container_name: pg-loadbalancer
    ports:
      - "5432:5432"
    volumes:
      - ./haproxy/haproxy.cfg:/bitnami/haproxy/conf/haproxy.cfg:ro
    networks:
      - app-network
    depends_on:
      pg-node-1:
        condition: service_healthy

  # 5. PHP App
  php:
    build: .
    container_name: lemp-test-php-1
    environment:
      DB_HOST: pg-lb
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - ./www:/var/www/html
    networks:
      - app-network
    depends_on:
      pg-node-1:
        condition: service_healthy

  # 6. Nginx
  nginx:
    image: nginx:latest
    container_name: lemp-test-nginx-1
    ports:
      - "8088:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./www:/var/www/html
    networks:
      - app-network
    depends_on:
      - php

networks:
  app-network:
    driver: bridge